* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  border-color: #00a99d;
  background-color: white;
  flex-basis: 50%;
  margin: 10px;
}


@media (max-width: 1010px) {
  body {
    flex-direction: column;
  }
  div {
    width: auto;
    margin: 10px;
  }
}

@media (max-width: 445px) {
  body {
    flex-direction: column;
  }
  div {
    width: auto;
    margin: 25px;
  }
}